/* ======= Top Navigation ======= */
.top-nav {
	display      : inline-block;
	background   : #004aad;
	/* nền xanh */
	width        : 100%;
	border-bottom: 1px #e1e1e1 solid;
	color        : white;
	/* chữ mặc định trắng */
	padding      : 0 10px;
	box-sizing   : border-box;
}

/* Social Icon */
.social-top-nav {
	float  : left;
	display: table;
}

.social-top-nav a {
	display            : table-cell;
	padding            : 5px;
	text-align         : center;
	font-size          : 13px;
	height             : 2em;
	width              : 2em;
	line-height        : 2em;
	color              : white;
	/* icon trắng mặc định */
	background-color   : #004aad;
	/* nền đồng bộ top nav */
	transition-duration: .2s;
	border-radius      : 3px;
	/* bo góc nhẹ */
	margin-right       : 5px;
	text-decoration    : none;
}

/* highlight icon fb, google, youtube .... when hover */
.social-top-nav a:hover {
	color: #fff;
	/* chữ/icon hover trắng */
}

.fa-facebook:hover {
	background: #3B5998;
}

.fa-twitter:hover {
	background: #55ACEE;
}

.fa-google:hover {
	background: #dd4b39;
}

.fa-youtube:hover {
	background: #bb0000;
}

/* Quick link */
.top-nav-quicklink {
	float     : right;
	list-style: none;
	margin    : 0;
	padding   : 0;
}

.top-nav-quicklink li {
	display  : inline-block;
	font-size: 1em;
	color    : white;
	/* chữ mặc định trắng */
}

.top-nav-quicklink li a {
	display            : block;
	color              : white;
	/* chữ mặc định trắng */
	padding            : 8px 15px;
	text-decoration    : none;
	transition-duration: .15s;
}

.top-nav-quicklink li a:hover {
	padding-top  : 4px;
	border-bottom: 4px solid #000;
	color        : white;
	/* chữ khi hover đổi màu đen */
}

.top-nav-quicklink li a:hover i {
	color: Dodgerblue;
	/* icon khi hover đổi màu xanh */
}

/* Clear floats */
.top-nav::after {
	content: "";
	display: table;
	clear  : both;
}

/* ======= End Top navigation ======= */